In [1]:
pip install imblearn

Collecting imblearn
  Downloading imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Collecting imbalanced-learn
  Downloading imbalanced_learn-0.8.0-py3-none-any.whl (206 kB)
Requirement already satisfied: scipy>=0.19.1 in c:\logiciels\anaconda\lib\site-packages (from imbalanced-learn->imblearn) (1.5.2)
Requirement already satisfied: scikit-learn>=0.24 in c:\logiciels\anaconda\lib\site-packages (from imbalanced-learn->imblearn) (0.24.2)
Requirement already satisfied: numpy>=1.13.3 in c:\logiciels\anaconda\lib\site-packages (from imbalanced-learn->imblearn) (1.19.2)
Requirement already satisfied: joblib>=0.11 in c:\logiciels\anaconda\lib\site-packages (from imbalanced-learn->imblearn) (0.17.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\logiciels\anaconda\lib\site-packages (from scikit-learn>=0.24->imbalanced-learn->imblearn) (2.1.0)
Installing collected packages: imbalanced-learn, imblearn
Successfully installed imbalanced-learn-0.8.0 imblearn-0.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy as np
from imblearn.over_sampling import SMOTE

In [2]:
df  = pd.read_csv('../data/cuisines.csv')

In [3]:
df.head()

,Unnamed: 0,cuisine,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,65,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,66,indian,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,67,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,68,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,69,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2448 entries, 0 to 2447
Columns: 385 entries, Unnamed: 0 to zucchini
dtypes: int64(384), object(1)
memory usage: 7.2+ MB